<section class="container g-0 py-5">
  <h2 class="fw-bold display-6 text-dark py-3 ">Découvrez nos lieux de livraison dans Paris</h2>

  <div class="row py-3" style="height: 300px;">
    <div class="card-group">
      <div class="col-lg-6 pe-2 ">
        <div class="card h-100 p-5 justify-content-center text-center" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.877),rgba(0, 0, 0, 0.219)), url(https://images.pexels.com/photos/1070981/pexels-photo-1070981.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); background-size: cover; background-position: center">
          <% @city_list_array.each do |city| %>
            <h4 class="fw-bold text-white ">Nos lieux partenaires</h4>
            <p class="text-light"><%= @locations.length %> lieux à découvrir</p>
          <% end %>
            <div>
              <%=link_to 'Lieux de livraison existants', locations_path, class:"btn btn-dark"%>
            </div>
        </div>
      </div>
      <div class="col-lg-6 ps-2">
        <div class="card cg p-5 h-100 text-center justify-content-center" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.877),rgba(0, 0, 0, 0.219)), url(https://images.pexels.com/photos/6205762/pexels-photo-6205762.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); background-size: cover; background-position: center">
          <h4 class="fw-bold text-white">Les lieux créés <br> par la communauté</h4>
            <p class="text-light"><small>Soutenez la communauté et participez <br> à la création de nouveau lieux</small></p>
              <div>
                <%=link_to 'Proposer un nouveau lieu', new_location_path, class:"btn btn-dark"%>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>