  <div class="container my-5">
    <h2 class="text-center py-3">Nos lieux de livraison</h2>
    <ul class="list-group">
      
      <% @city_list_array.each do |city| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="col-md-8"> 
          <h5 class="px-5 py-1 m-0"><%= city %></h5>
          </div>
         
          <div class="col-md-4">
          <span class="badge bg-primary rounded-pill"><%= @locations.length %></span>
          <%= link_to "Voir tous les lieux", locations_path, class:"px-5"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>


