<section class="container p-3 my-5">
  
  <div class="container my-5">
    <h2 class="text-center py-3">Nos paniers du moment</h2>
    <div class="row justify-content-center">
      <div class="card-group mt-5">
        <% @baskets.each do |basket|%>
        <div class="col mx-2">
          <div class="card rounded shadow" style="18rem;">
            <%= image_tag("Logo_cagette_3.png", :alt => "logo_cagette_du_net", :class => "card-img-top") %>
            <!-- <%#= image_tag rand_item.image_url, alt: 'photo de chat', class: 'card-img-top' %> -->
            <div class="card-body">
              <h4 class="card-title"><%= basket.title %></h4>
              <p class="card-text"><%= basket.description %></p>
              <p> <%= basket.price %>€</p>
              <a href="#">Ajouter au panier</a>
              
            </div>
          </div>
        </div>
        
        <% end %>
      </div>
    </div>
  </div>
</section>    
