<section>
  <div class="min-vh-100 text-center d-flex flex-column justify-content-center" >
    <i class="fas fa-exclamation-circle fa-5x"></i>
    <h1 class="text-dark fw-bold pt-2">Echec</h1>
    <p>Le paiement n'a pas abouti.</p>
  </div>
</section>