<div class="container text-center">
    <div class="row mt-5">
      <div class="col-md-3 text-center">
        <h2 class="text-center">1</h2>
        <p> Choix du panier </p>
      </div>

        
      <div class="col-md-3 text-center">
        <h2 class="text-center">2</h2>
        <p> Livraison</p>
      </div>

      <div class="col-md-3 text-center">
        <h2 class="text-center">3</h2>
        <p>Validation</p>
      </div> 

      <div class="col-md-3 text-center">
        <h2 class="text-center">4</h2>
        <p>Paiement</p>
      </div>     
    </div>
  </div>  
  
<%= render 'additional_products/index_card' %>

<div class="row">
  
  <% if current_user.location_id == nil %>
    <div class="mx-5 col-3"><%=link_to 'Etape suivante', edit_user_path(current_user), class:'btn btn-dark rounded', remote: true %>
    </div>
  <% end %>
  
    
    <div class="col-6"><%=link_to 'Voir le panier', cart_path(current_user_cart), class:'btn btn-dark rounded', remote: true %>
    </div>
  </div>
