<%= render 'orders/jumbotron' %>
  
<%= render 'baskets/index_basket' %>

<div class="row">

    <div class="mx-5 col-3"><%=link_to 'Ajouter des produits additionnels', additional_products_path, class:'btn btn-dark rounded', remote: true %>
    </div>
  

    
    <div class="col-6"><%=link_to 'Valider le panier', cart_path(current_user_cart), class:'btn btn-dark rounded', remote: true %>
    </div>
  </div>
