<section class="min-vh-100 d-flex flex-column justify-content-center">
  <div  id="order-area">
    
    <% if @cart.step == 0 %>
      <%= render "first_step" %>
    <% elsif @cart.step == 1 %>
      <%= render "first_step_ap" %>
    <% elsif @cart.step == 2 %>
      <%= render "second_step" %>
    <% elsif @cart.step == 3 %>
      <%= render "third_step" %>
    <% end %>
    
    
    
  </div>

</section>
