<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  </head>

  <body>
    <h1>Merci pour votre abonnement !</h1>
    
    <p>Vous avez décidé de nous faire confiance sur le long terme, et ça nous fait chaud au coeur, donc merci !!</p>

    <p>Votre cagette vous sera livrée automatiquement, chaque semaine, dans votre lieu de livraison par défaut. Même si vous en changez, on s'occupe de tout, la livraison suivra quand même (sauf changement dans les 24h précédant la livraison).</p>

    <p>A bientôt sur les Cagettes du net!</p>


  </body>
</html>
