<div class="container bg-light p-5 rounded-3" style="width: 850px;">
  <h6 class="fw-bold pb-2">Proposer un nouveau lieu de livraison</h6>
  <h5 class="pb-2">Comment ça se passe ?</h5>
  <div class="row text-start p-5">
    <div class="col-lg-6 col-12 col-md-6">
      <div class=>
        <h6>1 - Remplissez le formulaire</h6>
        <p class="mb-6 mb-md-8"><small>Renseignez quelques informations pratiques sur le lieu que vous souhaitez proposer afin de vérifier qu'il corresponde à nos critères techniques et pratiques.</small></p>
      </div>
      <div>
        <h6>3 - Suggestion du lieu aux autres membres</h6>
        <p class="mb-6 mb-md-8"><small>Les lieux de livraisons seront validés lorsqu'ils auront atteint un certain nombre de participants et pourront ensuite être disponibles sur notre site.</small></p>
      </div>
    </div>  
    <div class="col-lg-6 col-12 col-md-6">
      <div>
        <h6>2 - Vérification du lieu de livraison proposé</h6>
        <p class="mb-6 mb-md-8"><small>Nous prendrons ensuite contact avec les responsables pour nous présenter et leur proposer un éventuel partenariat.</small></p>
      </div>
      <div class="pt-4">
        <h6>4 - Nouveau lieu confirmé !</h6>
        <p class="mb-6 mb-md-0"><small>Vous recevrez un email une fois le lieu validé. Et peut-être que quelques petites surprises vous attendent... Mais on ne vous en dit pas plus pour le moment !</small></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 py-3 justify-content-center">
      <%= link_to "Retour", locations_path, class:"btn btn-dark w-25"%>
      <%= link_to "Proposer un lieu", new_location_path, class:"btn btn-primary w-25", remote: true %>
    </div>
  </div>
</div>  

