<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="min-vh-100 d-flex flex-column justify-content-between">
    <header>
        <section class="jumbotron2">
            <div class="container pt-5">
                <h1 class="text-dark display-5 fw-bolder">Trouvez un lieu près de chez vous</h1>
            </div>
        </section>
    </header>
    <main >
        <section class="container py-5">
            <div class="row justify-content-center align-items-center mx-4">
                <div class="card p-0 shadow-3 shadow rounded border-0 h-auto " style="max-width: 1000px;">
                    <div class="row g-0 ">
                        <div class="col-md-4 col-lg-4 bg-image" style="background-image: url('https://images.unsplash.com/photo-1581683705068-ca8f49fc7f45?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80'); height: 200px; max-width: auto; background-size: cover; background-position: center;">
                        </div>
                        <div class="d-flex col-md-8 col-lg-8 px-3 align-self-center ">
                            <div class="card-body pb-0 ">

                                <h5 class="card-title display-6 fw-bold text-dark ">Le Petit Zinc</h5>
                                <p class="card-text ">58 rue du paradis, 75011, Paris</p>
                                
                                <div class="card-footer p-0">
                                    <div class="row justify-content-between align-items-center ">
                                        <p class="col-8 pt-3">Proposé par Julie Miranda</p>
                                        <button class="btn btn-dark col-4">s'inscire dans ce lieux</button>
                                    </div>                           
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
