<div class="col-12 min-vh-100 text-center d-flex flex-column justify-content-center bg-image" style="background-image: url('https://images.pexels.com/photos/5709299/pexels-photo-5709299.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); background-repeat: none; background-size: cover;" > 

<div id="new-location">
<%= render 'newform_first' %>
</div>

</div>