<footer class="flex text-center text-white bg-secondary d-flex flex-column justify-content-end">
  <div class="bg-light d-flex inline justify-content-center py-3">
    <p><i class="fab fa-twitter"></i></p>
    <p><i class="fab fa-facebook-f"></i></p>
    <p><i class="fab fa-instagram"></i></p>

  </div>
  <div class="text-center p-2 bg-dark py-3">
    <small>
      <p class="m-1 text-muted">© 2021 Copyright: Les Cagettes du net x Les Francs-Développeur.e.s <br>
      <a href="#top" class="font-decoration-none text-muted">Back to the top <i class="fas fa-arrow-up"></i></a></p>
    </small>
  </div>

  
</footer>

