<footer class="flex text-center text-white bg-secondary d-flex flex-column justify-content-end">
  <div class="bg-light d-flex inline justify-content-center py-3">
    <a class="text-dark mx-3" href=""><i class="fab fa-twitter"></i></a>
    <a class="text-dark mx-3" href=""><i class="fab fa-facebook-f"></i></a>
    <a class="text-dark mx-3" href=""><i class="fab fa-instagram"></i></a>

  </div>
  <div class="text-center p-2 bg-dark py-3">
    <small>
      <p class="m-1 text-muted">© 2021 Copyright: Les Cagettes du net x Les Francs-Développeur.e.s <br>
      <a href="#top" class="font-decoration-none text-muted">Back to the top <i class="fas fa-arrow-up"></i></a></p>
    </small>
  </div>


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  
  
</footer>