<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> position-absolute w-100"">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>